<table class="table table-striped">
	<thead>
		<tr>
			<th>Aluno</th>
			<th>Curso</th>
			<th>Data da matrícula</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
		<% @classrooms.each do |classroom| %>
		<tr>
			<td><%= classroom.student.name %></td>
			<td><%= classroom.course.name %></td>
			<td><%= classroom.entry_at.strftime("%d-%m-%Y %H:%M") %></td>
			<td><%= link_to "Detalhes", classroom %></td>
			<td><%= link_to "Editar", edit_classroom_path(classroom) %></td>
			<td><%= link_to "Deletar", classroom, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>