<%= simple_form_for @course do |f| %>
  <div class="form-group">
    <label>Nome</label>
    <%= f.input :name, label: false, input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <label>Descrição</label>
    <%= f.input :description, label: false, input_html: {class: "form-control"} %>
  </div>
  <div class="form-group">
    <label>Status</label>
    <%= f.input :status, label: false, input_html: {class: "form-control"} %>
  </div>

	<%= f.submit "Salvar", class: "btn btn-primary btn-block" %>
<% end %>