<!DOCTYPE html>
<html>
<head>
  <title>ProficiencyTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="masthead">
	<h3 class="text-muted"></h3>
        <nav>
          <ul class="nav nav-justified">
            <li><%= link_to "Matrícula", classrooms_path %></a></li>
            <li><a href="/estudantes">Estudantes</a></li>
            <li><a href="/cursos">Cursos</a></li>
          </ul>
        </nav>
    </div>
<%= yield %>
</div>

</body>
</html>
